@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    background: url(photos/y1.jpg);
    background-size: cover;
}


.top{
    width: 100%;
    height: auto;
    background-color: rgb(76, 0, 255);
    display: flex;
	justify-content: center;
	align-items: center;
    padding: 0px;
   
    top: 0px;
    z-index: 5;
    
}
 
   .top img{
     width: 110%;
     height: auto;
     
   }

.head h1{
    color: rgb(247, 247, 252);
    font-size: 3vw;
    padding: 5px 0px;  
    text-decoration: none;
}


.logo{
    width: 10%;
    padding: 0px;
    padding-left: 30px;
}

.head{
    width: 90%;
    text-align: center;
}

h1{
    font-family: arial;
    font-size: 3vw;
    text-decoration: underline;
}

.links{
    margin: 40px;
    font-size: 2vw;
    width: 50%;
    height: auto;
    background-color: white;
    margin-left: 20%;
    margin-right: 20%;
    padding: 20px;
    border-radius: 10px;
    opacity: 0.8;
    
}

.links div{
    margin: 40px;
}

li{
    list-style: none;
    padding: 20px;
}

a{
    text-decoration: none;
    font-family: arial;
    font-size: 2vw;
}

.btn {
    background-color: blue;    
    margin-left: 10px;
    border: none; 
    color: white; 
    display: inline;
    float: left;
    font-size: 46px; 
    cursor: pointer; /* Mouse pointer on hover */
    display: block;   
  }

.background{
    width: 100%;
    height: auto;
   
}

a:visited{
    color: blue;
}

a:hover{
    color: rgb(235, 14, 51);
    
}

@media(max-width: 1000px){

    .top img{
        min-width: 100px;
        height: auto;    
      }

      .links{
        margin: 20px;
        font-size: 2.5vw;
        padding: 15px 0px;
        border-radius: 10px;
        opacity: 0.8;
        
    }

    .links div{
        margin: 30px;
    }
    
    li{
        list-style: none;
        padding: 15px;
    }

    a{
        text-decoration: none;
        font-family: arial;
        font-size: 2.5vw;
    }

  }

  @media(max-width: 620px){

    .top img{
        min-width: 80px;
        height: auto;    
      }

      .logo{
        
        padding-left: 10px;
    }

    .links{
        margin: 20px;
        font-size: 2vw;
        width: 60%;
        height: auto;
        background-color: white;
        margin-left: 20%;
        margin-right: 20%;
        padding: 10px;
        border-radius: 10px;
        opacity: 0.8;
        
    }

    .links div{
        margin: 20px;
    }
    
    li{
        list-style: none;
        padding: 10px;
    }
    
  }