body {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: sans-serif;
}

.top{
    width: 100%;
    height: auto;
    background-color: rgb(76, 0, 255);
    display: flex;
	justify-content: center;
	align-items: center;
    padding: 0px;

    top: 0px;
    z-index: 5;
}
 
   .top img{
     width: 110%;
     height: auto;    
   }


.logo{
    width: 10%;
    padding: 0px;
    padding-left: 30px;
}

.head{
    width: 90%;
    text-align: center;
}


#run-btn{
	
	background: white;
	color: #111;
	font-size: 2.2vw;
	font-weight: bold;

	cursor: pointer;
	border: none;
	width: 10%;
	
	border-radius: 5px;
}

.editor{
	width: 100%;
	height: auto;
	display: flex;
}

.code{
	width: 40%;
	border-right: 4px solid black;
}

.preview{
	width: 60%;
	height: 100%;
}

#preview-window{
	width: 99%;
	height: auto;
	border: none;
}


.codeMirror{
	height: 25%;
}

h1{
	padding: 0px;
	margin: 0px;
	text-align: center;
	background-color: rgb(129, 207, 252);
	color: white;
	
}


@media(max-width: 900px){

    .codeMirror{
		height: auto;
	}

	.preview{
		width: 60%;
		height: auto;
	}
  }


